@media only screen and (min-width: 992px) {
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  input {
    width: 50%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 3px darkgrey;
    text-align: center;
  }
  .App-link {
    color: #09d3ac;
  }

  h6 {
    margin-top: 30%;
    font-size: 1em;
  }

  ul {
    list-style-type: none;
    margin-left: 2%;
    margin-top: 2%;
    overflow: hidden;
  }

  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    margin-left: 40px;
    text-decoration: none;
  }

  .navigation {
    margin-left: 28%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0px 2px 5px 0 black;
    color: black;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  button {
    padding: 5px;
  }
  input {
    width: 50%;
    border: 1px solid darkgrey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 2px 3px darkgrey;
    text-align: center;
  }
  .App-link {
    color: #09d3ac;
  }

  h6 {
    margin-top: 80%;
    font-size: 1em;
  }
  ul {
    list-style-type: none;

    overflow: hidden;
  }

  li {
    float: left;
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
}
