@media only screen and (min-width: 992px) {
  .Weather {
    position: relative;
    margin-top: 5%;
    margin-left: 23%;
    width: 50%;
    border: 1px solid gray;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 20px;
  }

  button {
    border: none;
  }

  .heart {
    font-size: 40px;
    color: red;
  }
  .icon {
    font-size: 40px;
  }
  .WeatherRow {
    margin: 2%;
  }
  .ErrorLoader {
    border: 0.5px solid darkslategrey;
    width: 40%;
    height: 40%;
    padding: 30px;
    margin-left: 30%;
    margin-top: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 2px 5px black;
  }

  .loader {
    position: relative;
    margin-left: 40%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .modal-content {
    padding: 10px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

@media only screen and (max-width: 600px) {
  .Weather {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    border: 1px solid gray;
    box-shadow: 0 2px 3px #ccc;
    border-radius: 20px;
  }

  button {
    border: none;
  }

  .heart {
    font-size: 40px;
    color: red;
  }
  .icon {
    font-size: 40px;
  }
  .WeatherRow {
    margin: 2%;
  }
  .ErrorLoader {
    border: 0.5px solid rgba(73, 164, 233, 0.728);
    width: 40%;
    height: 40%;
    padding: 30px;
    margin-left: 30%;
    margin-top: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 30px;
    box-shadow: 0 2px 5px aquamarine;
  }

  .loader {
    position: relative;
    margin-left: 40%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .modal-content {
    padding: 10px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
